html, body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right , #040348, #5c1c00, #00382d);
    color: #eaeaea;
    font-family: 'M PLUS 1p', sans-serif;
}

main, .repo-intro {
    max-width: 900px;
    padding: 1ch 5% 1ch;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);

}

h1, h2, h3, #sch-lnk, address, nav{
    text-align: center;
}

h1, h2, h3, nav li{
    font-family: 'Gill Sans', 'Sawarabi Mincho', serif;
}

#sch-lnk{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

nav li:has(a:hover), nav li:has(a:focus){
    background-image: linear-gradient(to right, #00382d, #040348);
}

a{
    text-decoration: none;
    background-image: linear-gradient(to right, #f9f871, #fbb04d, #e36a4e, #b12d56, #6a0458);
    color: transparent;
    background-clip: text;
    padding: 5px;
}

a:hover, a:focus{
    text-decoration: underline;
    background-image: linear-gradient(to left, #f9f871, #fbb04d, #e36a4e, #b12d56, #6a0458);
    color: transparent;
    background-clip: text;
}

nav{
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 0;
    padding: 1% 5%;
    width:25%;
    max-height: 10%;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.9);
}

main p{
    text-indent: 2ch;
    line-height: 1.5;
}

main p::first-letter{
    font-size: 150%;
    font-weight: bold;
}

.imp{
    font-weight: bold;
    color: red;
}

.flex-row-container{
    display: flex;
    flex-flow: column wrap;
}

.flex-column-container{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.element{
    flex: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    text-align: center;
}

.profile{
    flex: 2;
    padding: 10px 20px;
    align-content: center; 
}

#profile-table{
    width: 100%;
}

#profile-table td{
    padding: 15px 5px;
}

.profile-pic{
    flex: 1;
    box-shadow: none;
}

.profile-pic img{
    border-radius: 30px;
    max-height: 300px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);

}

#mm-map img{
    max-height: 400px;
}

.element p:has(img){
    line-height: 1;
    text-indent: 0;
}

.town img{
    height: 100%;
    max-height: 200px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.location img{
    max-height: 300px;
    border-radius: 0;
}

.location:first-child{
    flex: 2;
    justify-content: center;
    margin: auto 0;
}

.location:last-child{
    flex: 1;
}

img{
    max-width: 100%;
    height: auto;
}

.hobby p{
    text-indent: 0;
}

#music li{
    list-style-type: "\266B";
    padding-left: 1em;
    margin-bottom: 0.5em;
}

#reading li{
    list-style-type: "\1F4D6";
    padding-left: 1em;
    margin-bottom: 0.5em;
}

#music{
    background-image: url(./icon/musical-note.png);
    background-repeat: no-repeat;
    background-size: 30% 20%;
    background-position: right 25% top 15%;
}

#reading{
    background-image: url(./icon/read.png);
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-position: right 5% top 15%;
}

.novel{
    min-height: 420px;
    max-height: 600px;
}

.cover img{
    max-height: 480px;
    min-height: 350px;
}

.cover p a{
    line-height: 1.5;
}

.cover{
    flex: 2;
}

.descript{
    flex: 3;
}

.study{
    flex: 2;
}

.study-icon{
    flex: 1;
    box-shadow: none;
}

.study-icon img{
    background-color: transparent;
    border-radius: 25%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.9);
}

.photo-label, figcaption{
    font-size: 12px;
    font-weight: bold;
}

.photo-credit{
    font-size: 8px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
}

#population{
    background-color: #fdf7ff;
    margin: 0 auto;
    width:100%;
    text-align: center;
}

#population th{
    background-color: #fffade;
    color:#040348;  
}

#population td{
    background-color: #988ab5;
}

.repo-intro{
    margin-top: 20px;
    margin-bottom: 10px;
}

.repo-intro .element{
    margin: 20px 0;
    border-radius: 30px;
}

.repo-text{
    flex: 4;
}

.repo-logo{
    flex: 1;
    padding: 5% 5%;
}

.repo-logo img{
    width: 90%;
    height: 90%;
}

address{
    font-size: 12px;
    padding: 10px 0;
}

.social-icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}